//----------- контейнер с кубами -----------------------------------------
.area {
    position: absolute;
    transform-style: preserve-3d;
    /*perspective: 1000px;
    perspective-origin: 150px 150px;*/

//----------- грани кубов ------------------------------------------------
    > div {
        position: absolute;
        font-family: minecraft, verdana, sans-serif;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        backface-visibility: visible;
        background-image: url('../content/pictures/rebro.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
