$spacing: 5vw;

%svg {
    position: absolute;
    width: $spacing;
    height: $spacing;
    right: $spacing/4;
    bottom: $spacing/4;
    background-color: red;
}

.forSVG {
    @extend %svg;
}

.forSVGInline {
    @extend %svg;
    right: $spacing*6/4;
}

.insideSVG {
    fill: green;
    fill-opacity: 0.8;
    stroke: white;
    stroke-width: 4;
    stroke-dasharray: 4 5;
}

